@use "../vars" as vars;

.card {
  color: var(--clr-card-fg);
  background-color: var(--clr-card-bg);

  border-radius: vars.$borderRadDefault;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .header {
    color: var(--clr-card-heading);
  }
}