@use "../vars" as vars;

a.link,
button.link,
input[type="submit"].link {
  text-decoration: none;
  color: currentColor;
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
    transition: none;
    filter: brightness(var(--link-disabled-filter-brightness));
  }
}