
@use "sass:color";

@mixin css-light {
  $clr-action: #FFCF59;
  $clr-highlight: #535FE1;
  $clr-bg: #f9fafa;

  --clr-bg: #f9fafa;
  --clr-fg: #{color.scale(#1a1a1a, $lightness: 25%)};
  --clr-heading: #041023;

  --clr-action: #{$clr-action};
  --clr-action-transparent: rgba(249, 217, 138, 0.7);
  --clr-action-fg: #1f1e1b;
  --clr-action-hov-bg: #{color.scale($clr-action, $lightness: 10%)};
  
  --clr-highlight: #{$clr-highlight};
  --clr-highlight-transparent: rgba(162, 168, 240, 0.7);
  --clr-highlight-fg: #F6F6FE;
  --clr-highlight-hov-bg: #{color.scale($clr-highlight, $lightness: 10%)};

  --clr-link: transparent;
  --clr-link-transparent: rgba(162, 168, 240, 0.7);
  --clr-link-fg: #041023;
  --clr-link-hov-bg: rgb(192, 216, 255, 0.7);

  --clr-menu: transparent;
  --clr-menu-fg: #{color.scale(#1a1a1a, $lightness: 25%)};
  --clr-menu-hov-bg: rgb(192, 216, 255, 0.7);
  --clr-menu-hov-fg: #{color.scale(#1a1a1a, $lightness: 5%)};

  --btn-disabled-filter-brightness: 0.65;

  --clr-input: #dfdfdf;
  --clr-input-fg: #1a1a1a;
  --input-disabled-filter-brightness: 0.5;

  --link-disabled-filter-brightness: 0.5;

  --clr-card-bg: #ffffff;
  --clr-card-fg: #{color.scale(#1a1a1a, $lightness: 25%)};;
  --clr-card-heading: #041023;
  --clr-card-shadow: #{color.scale($clr-bg, $lightness: -10%)};
  --clr-card-shadow-hov: #{color.scale($clr-bg, $lightness: -30%)};
}

:root {
  @include css-light();
  
  color: var(--clr-fg);
  background-color: var(--clr-bg);
}
